<div class="row">
  <div class="col-md-4 offset-md-4">
    <h2 class=" pb-4 text-center">パスワードを<br>忘れましたか？</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "shared/error_messages", resource: resource %>

      <div class="form-group pb-2">
        <%= f.email_field :email, autofocus: true, placeholder: "Eメール", class: "form-control" %>
      </div>

      <br>
      
      <div class="actions">
        <%= f.submit "上記に送る", class: "btn btn-login btn-block" %>
      </div>
    <% end %>
  </div>
</div>
